<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Gestione centri estivi</h1>
  <span class="navbar-text">
    Utente loggato: {{currentUser.firstName}}
    <a class="navbar-text" *ngIf="isAdmin"><b>Admin</b></a>
    - <a [routerLink]="['/login']">Logout</a>
  </span>
</nav>

<br>

<app-anagrafica></app-anagrafica>


<!--<div>
  Export all feedbacks
  <button (click)="exportFeedbacks()">Export</button>
  <a download="Feedbacks.xlsx" href="{{ url }}" target="_blank">download</a>
</div>-->




